/* css for the game of life*/

body{
	background-color: #FF99FF; /*#6A5ACD;*/
	color:#000000;
	font-size: 1em;
}

h1 {font-size: 1.40em; font-weight:  bold; font-variant: small-caps; letter-spacing: .25em; margin: 0;} /*change 3 h1 font size text-align: center;*/

p {font-size: 1.00em; font-weight:  normal; font-variant: small-caps; letter-spacing: .1em; } 

a {font-size: 1.00em; font-weight:  bold; font-variant: small-caps; letter-spacing: .1em; } 

label {font-size: 1.00em; font-weight:  normal; font-variant: small-caps; letter-spacing: .1em; margin: 0;} 

button {/*font-size: 0.75em; font-weight:  normal; font-variant: small-caps; letter-spacing: .1em; margin: 0;
font:italic bold 12px/30px Georgia, serif;*/
		font: 1.0em monospace;} 

#wrapper{ 	margin: 20px; 
			border: 0px solid #000; 
			margin: 10px; width: 100%; overflow: auto;} /*auto width: 1000px;	overflow: auto; width: 100%*/

#poem {display:inline; float: left; }

textarea{
	font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}

#poem textarea{ background-color:#DDD; color:#333;   }

#inputText {display:inline; float: left;}

button,input {clear:both; margin: 10px 10px 10px 0px; padding: 4px 2px;}

.text {width: 45%;}

.hide {
visibility:hidden;
text-decoration: none;
}

.show {
visibility:visible;
}

#previous, #next{
	text-decoration: none;
}

#mask{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 301;
	opacity: 0.5; 	
	background-color: #F9B7FF; /* plum1 */
	height: 100%;
	width: 100%;
	/*background-image: url('../images/transparent.gif');*/
}

.getSeedDiv {
	position: absolute;
	/*width: 400px;*/
	/*margin-top: 15%;*/
	margin-left: 2%;
	z-index: 400;
	padding: 14px;
	background-color: white;
	border: 2px solid black;
	opacity: 1.0;
}


.getSeedForm input {
	/*float:left;
	font-size:12px; */
	padding:4px 2px;
	border:solid 1px #aacfe4;
	width:200px;
	margin:2px 0 20px 10px;
}

.getSeedForm label {
	/*display:block;*/
	font-weight:bold;
	text-align:right;
	width:140px;
	/*float:left;
	font-size:12px;*/
}
.getSeedDiv h1 {
	/*font-size:14px;*/
	font-weight:bold;
	margin-bottom:8px;
}
.getSeedDiv p{
	/*font-size:11px;*/
	color:#666666;
	/*margin-bottom:20px;*/
	border-bottom:solid 1px #b7ddf2;
	padding-bottom:5px;
	}